/* 
    Custom Fonts
    1. Montserrat
    2. Norse
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.cdnfonts.com/css/norse');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: aquamarine;
}

.container {
    flex: 1;
    display: flex;
}

.containerone {
    flex: 1;
    display: flex;
    background-image: url(img/vincentiu-solomon-ln5drpv_ImI-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.containertwo {
    flex: 2;
}

footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.credits {
    font-size: 12px;
    color: white;
}

img {
    width: 20%;
    height: auto;
}

.logotitle {
    font-family: 'Norse', Arial, sans-serif;
    color: white;
    font-size: 3em;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 50% 10px 0 0;
}